<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title id = "bar">
      Welcome to Space App!
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Welcome to Space App</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Select a page to learn about Space</strong>
    <ion-button href = "/apod">APOD</ion-button>
    <ion-button href = "/mars">MARS</ion-button>
    <ion-button href = "/exoplanets">Exoplanets</ion-button>
  </div>
</ion-content>
